<div class="banner">
  <div class="banner-content">
    <h1><strong>Welcome to ProgImage</strong></h1>
    <h3 class="banner-subheader">Your image uploading and conversion API!</h3>
    <p class="banner-subheader">Made by Geoff for BCG DV :)</p>
  </div>
</div>
